.contact {
  text-align: center;
  background-color: #707070;
  width: 100%;
}
.contact div {
  margin: 1rem;
}
.gamehub_footer {
  margin: 1rem;
}
footer p {
  font-weight: 700;
}
footer {
  margin-top: auto;
}
