
#game-info-grid {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr 1fr  1fr 0.5fr;
  grid-template-areas:
    "header header"
    "gameimg gameimg"
    "tittel pris"
    "about about"
    "details ."
    "footer footer";
}

.header-game-info {
  grid-area: header;
}
.gameimg {
  grid-area: gameimg;
}
.g-tittel {
  grid-area: tittel;
  
}
.pris {
  grid-area: pris;
  
}
.about {
  grid-area: about;
}
.details {
  grid-area: details;
}
.footer{
  grid-area: footer;
}